.team-level-outer-container {
    .css-1086bdv-MuiPaper-root-MuiAccordion-root {
        background-color: rgb(255, 222, 173);
        color: rgb(0, 0, 0);
    }
    .css-ahj2mt-MuiTypography-root {
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }
}